
*.vsidx

SourceCode/plataformawebpagos/MyERP/obj/Release/

SourceCode/plataformawebpagos/MyERP/Properties/PublishProfiles/

SourceCode/plataformawebpagos/packages/Dapper.2.0.123/lib/net5.0/

SourceCode/plataformawebpagos/packages/Dapper.2.0.123/lib/net461/

SourceCode/plataformawebpagos/packages/Dapper.2.0.123/

SourceCode/plataformawebpagos/packages/Syncfusion.Compression.Base.20.4.0.44/lib/net40/

SourceCode/plataformawebpagos/packages/Syncfusion.Compression.Base.20.4.0.44/lib/net45/

SourceCode/plataformawebpagos/MyERP/obj/Debug/

SourceCode/plataformawebpagos/packages/Syncfusion.Compression.Base.20.4.0.44/

SourceCode/plataformawebpagos/packages/Syncfusion.DocIO.AspNet.20.4.0.44/content/net40/

SourceCode/plataformawebpagos/packages/Syncfusion.DocIO.AspNet.20.4.0.44/content/net45/

SourceCode/plataformawebpagos/packages/Syncfusion.DocIO.AspNet.20.4.0.44/content/net451/

SourceCode/plataformawebpagos/packages/Syncfusion.DocIO.AspNet.20.4.0.44/

SourceCode/plataformawebpagos/packages/Syncfusion.DocToPDFConverter.AspNet.20.4.0.44/content/net40/

SourceCode/plataformawebpagos/packages/Syncfusion.DocToPDFConverter.AspNet.20.4.0.44/

SourceCode/plataformawebpagos/packages/Syncfusion.Licensing.20.4.0.44/lib/MonoAndroid10.0/

SourceCode/plataformawebpagos/packages/Syncfusion.Licensing.20.4.0.44/

SourceCode/plataformawebpagos/packages/Syncfusion.OfficeChart.Base.20.4.0.44/lib/net20/

SourceCode/plataformawebpagos/packages/Syncfusion.OfficeChart.Base.20.4.0.44/lib/net35/

SourceCode/plataformawebpagos/packages/Syncfusion.OfficeChart.Base.20.4.0.44/lib/net40/

SourceCode/plataformawebpagos/packages/Syncfusion.OfficeChart.Base.20.4.0.44/

SourceCode/plataformawebpagos/packages/Syncfusion.Pdf.AspNet.20.4.0.44/content/net40/

SourceCode/plataformawebpagos/packages/Syncfusion.Pdf.AspNet.20.4.0.44/content/net45/

SourceCode/plataformawebpagos/packages/Syncfusion.Pdf.AspNet.20.4.0.44/content/net451/

SourceCode/plataformawebpagos/packages/Syncfusion.Pdf.AspNet.20.4.0.44/content/net46/

SourceCode/plataformawebpagos/packages/Syncfusion.Pdf.AspNet.20.4.0.44/lib/net40/

SourceCode/plataformawebpagos/packages/Syncfusion.Pdf.AspNet.20.4.0.44/lib/net45/

SourceCode/plataformawebpagos/packages/Syncfusion.Pdf.AspNet.20.4.0.44/lib/net451/

SourceCode/plataformawebpagos/packages/Syncfusion.Pdf.AspNet.20.4.0.44/lib/net46/

SourceCode/plataformawebpagos/packages/Syncfusion.Pdf.AspNet.20.4.0.44/

SourceCode/plataformawebpagos/.vs/ApprestarSendaQuetzal/v17/.suo
