body {
    width: 100%;
    height: 100%;
    color: #fff;
	overflow-x: hidden;
	    font-family: sans-serif;
	background-color: white;
}

.intro{
	
    display: table;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	position:relative;
	font-weight:bold;
	min-height:440px;
}

.intro .intro-body {
    display: table-cell;
	vertical-align:middle;
}

.popover {
	color:#fff;
	background-color:#009170;
	padding:1px;
	}
	
.popover.top > .arrow:after {
  border-top-color: #009170;
}

html {
    width: 100%;
}


::-webkit-input-placeholder {
	color:#CBCBCB;
	font-size:16px;
}
::-moz-placeholder {
	color:#CBCBCB;
	font-size:16px;
}
:-ms-input-placeholder {
	 color:#CBCBCB;
	 font-size:16px;
}
input:-moz-placeholder {
	color:#CBCBCB;
	font-size:16px;
}


.navbar-apprestar {
    background-color: white;
    color: black;
    height: 70px;
	margin: 0;	
-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
	border-bottom: 3px solid #009170;
}

.navbar-brand {
    margin-left: -15px;
    margin-top: -5px;
	padding-right: 50px;	
}

.navbar-nav > li > a {
    padding-top: 27px;
    padding-bottom: 23px;
    color: black;
}

.navbar-nav > li > a:hover {
	background-color: #009170;
	color: white;
}


.navbar-nav .active a{
padding-top: 27px;
    padding-bottom: 23px;
    background-color: #009170;
    color: white;
}

.navbar-apprestar .links2 a {
	color: #009170;
	border-right: 2px solid #009170;
    padding-top: 5px;
    padding-bottom: 3px;	
	margin-top: 25px;
}

    .navbar-apprestar .links2 a:hover {
        color: #009170;
        background-color: white;
        text-decoration: underline;
    }

.navbar-default .redes a:hover {
	color: #009170;
	background-color: transparent!important;
	text-decoration: underline;
}

.navbar-default .redes a {
    padding: 25px 9px 20px 9px;
}



.carousel-fade .carousel-inner .item {
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}
html,
body,
#myCarousel .carousel,
#myCarousel .carousel-inner,
#myCarousel .carousel-inner .item {
  height: 480px;
}
#myCarousel .item:nth-child(1) {
  background: url(../img/slider.jpg) center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
#myCarousel .item:nth-child(2) {
  background: url(../img/Slider2.png) center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
#myCarousel .item:nth-child(3) {
  background: url(../img/Slider1.png) center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#myCarousel .item:nth-child(4) {
  background: url(../img/Slider2.png) center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.copy {
	position: absolute;
	top: 100px;
	left: 20px;
	text-align: center;
}

.copypago {
	    background-color: rgba(0, 0, 0, .5);
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 100px;
	padding-right: 100px;
}

.copypago h2 {
	font-size: 20px;
}

.copypago p {
	font-size: 18px;
}

.copypago .p1 {
	font-size: 28px;
	margin: 0;
}

.copypago .p2 {
	font-size: 14px;
	margin: 0;
    line-height: 28px;	
}

.copy2 {
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20%;
    text-align: center;
}

.copy2 h2 {
	color: black;
	text-shadow: 2px 1px 1px rgba(150, 150, 150, 1);
}

.copy2 p {
	color: black;
	font-size: 18px;
	font-weight: 300;
}

.copy2 a {
	color: white;
}

.prestamo {
background-color: #009170;
    border: none;
    font-size: 18px;
    padding: 15px 58px;
    border-radius: 40px;
}

#myCarousel {
	margin-top: 70px;
}

footer {
	background-color: #009170;
	padding-top: 20px;
	padding-bottom: 40px;
	color: white;
}

footer ul {
	list-style: none;
	text-align: center;
	font-size: 24px;
	font-weight: 600;	
}

footer li a {
    color: white;
    padding-top: 14px;
    display: block;
    border-bottom: 1px solid;
	font-size: 14px;
    padding-bottom: 14px;
	text-align: left;
	font-weight: 300;
}

footer ul li:first-child  a{
	border-top: 1px solid;

}

footer li a:hover{
	color: white;
	text-decoration: underline;
}

.testimonios {
	padding-top: 40px;
    padding-bottom: 40px;
    color: #545454;
}

.carousel-indicators {
    bottom: -40px;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #008000;
    border-radius: 10px;
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #008000;
}

.nosotros {
	margin-top: 140px;
	color: #545454;
	padding-bottom: 140px;
}

h3 {
	font-weight: bold;
	color: #009170;
    font-size: 32px;
    border-bottom: 1px solid;
    text-align: center;
    max-width: 370px;
    margin: 0 auto;
    padding-bottom: 10px;
    margin-bottom: 40px;
}

.login-form {
		width: 340px;
    	margin: 50px auto;
	}
    .login-form form {
    	margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }

.btningresar {
	background-color: #009170;
}

.nopadding {
	padding: 0;
}

.btnregistro {
	background-color: transparent;
	color: #009170;
	border: 1px solid #009170;
	width: 300px;
	height: 45px;
}

.btnregistro:hover {
	background-color: #009170;
	color: white;
	border: 1px solid #009170;
	width: 300px;
	height: 45px;
}

#profileForm h1 {
    font-size: 36px;
    font-weight: 700;
    color: #009170;
    border-bottom: 1px solid;
    margin-bottom: 30px;
    font-size: 20px;
    padding-bottom: 20px;
}

.l1{
    color: white;
    background-color: #009170;
    display: block;
    padding-left: 15px;
    font-weight: 300;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: fit-content;
    padding-right: 15px;
	
}

#main {
	margin-top: 150px;
}

.overm {
	position: fixed;
    background: rgba(0, 0, 0, .5);
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: block;
    color: white;
	display: none;
	z-index: 9;
}	


.mailf {
	
width: 300px;
    height: 111px;
    background-color: #0087FF;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.aceptar {
width: 100%;
    margin-top: 9px;
    color: #0087FF;
    background-color: white;
    border: none;
}

.opcion {
	padding-top: 20px;
	padding-bottom: 20px;
}

.opcion h1 {
    color: black;
    background-color: #F5F5F5;
    font-size: 19px;
    padding: 6px;
    margin-bottom: 0;
}

.pasos {
	color: black;
	padding-top: 40px;
	padding-bottom: 40px;
}

.pasos h1 {
	font-size: 18px;
	text-align: center;
}

.pasos p {
	font-size: 12px;
	text-align: center;
	max-width: 200px;
	margin: 0 auto;
}

#accordion .panel,
#accordion .panel-heading,
#accordion panel-title,
#accordion .panel-body {
  border: 0;
}
#accordion .panel {
  box-shadow: none;
}
#accordion .panel .panel-heading {
  border-radius: 0;
}
#accordion .panel .panel-heading .panel-title a {
  text-decoration: none;
  padding: 1em 0;
}
#accordion .panel .panel-heading .panel-title a span {
  float: right;
  width: 50px;
}
#accordion .panel .panel-heading .panel-title a span:after {
  content: "\2014";
  color: #1B5062;
  font-size: 12px;
}
#accordion .panel .panel-heading .panel-title a.collapsed span:after {
  content: "+";
}
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.apprestar {
	color: black;
	padding-bottom: 40px;
}

.apprestar h1 {
    color: black;
	border-bottom: 1px solid #cccccc;
    font-size: 19px;
    padding: 6px;
    margin-bottom: 10px;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    margin-bottom: 10px;
	width: 100%;
}

.area {
	width: 100%;
}

.btnenviar {
    background-color: #009170;
    color: white;
    width: 170px;
    height: 40px;
}

.pasos h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px;
}

.acerca {
	color: black;
}

@media (max-width: 767px) {
	

}

